{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-7">
        <h1>Leon cupra</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iste fugiat magni laborum, deserunt sequi nostrum obcaecati! Quo, officiis dolor explicabo id ad eaque esse natus quisquam rerum voluptatem aliquid?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/cupra.jpg" class="img-thumbnail" alt="leon cupra">
    </div>
</div>

{{> footer }}